<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Tiger Personal Website</title>
    <link rel="stylesheet" href="./Tiger&#39;s Personal Site_files/styles.css">
  </head>

<body>
    <table cellspacing="20">
        <tbody><tr>
            <td><h1>Tig3r</h1>
            <p>I am an Engineer. I ❤️ computers, physics and math.</p></td>
        <tr>
    </tbody></table>
    <hr>
    <h3>Science and Computer</h3>
    <ul>
        <li>I am a Physics Engineering student.</li>
        <li>The Complete Web Development Bootcamp</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
        <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2026-""</td>
          <td>I am a developer </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Physics and Math</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="https://github.com/omerzucar">Github </a>
</body></ht
</body>
</html>